@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
*{
  margin: 0;
  box-sizing: border-box;
}
body{
  width: 100%;
}
.container{
  padding: 70px 0;
  width: 100%;
  height: 250vh;
  display: flex;
  flex-direction: column;
  gap: 100px;
  align-items: center;
}
.product-card{
  width: 100%;
  max-width: 400px;
  height: 600px;
  border-radius: 20px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  background-color: rgb(254,31,61);
  display: flex;
  align-items: flex-end;
  font-family: Poppins;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.product-card:hover{
  transform: translateY(-15px);
}
.product-card-container{
  width: 100%;
  height: 90%;
  background-color: white;
  border-radius: 30px 30px 20px 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 20px 0;
}
.product-card-container-tittle{
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  padding: 0 20px;
}
.product-card-container-tittle-tittle{
  font-weight: 900;
  font-size: 22px;
  color: rgb(254,31,61);
  text-align: center;
}
.product-card-container-tittle-text{
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  font-style: italic;
}
.product-card-container-img{
  width: 60%;
  height: 150px;
  background: url(product-card-item.jpg);
  background-size: cover;
  background-position: center;
  border-radius: 20px;
}
.product-card-container-content{
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}
.product-card-container-content-price{
  display: flex;
  gap: 10px;
}
.product-card-container-content-price-new{
  font-weight: 900;
  font-size: 20px;
  color: rgb(254,31,61);
}
.product-card-container-content-price-old{
  align-self: flex-end;
  font-weight: 400;
  font-size: 14px;
  color: gray;
  text-decoration: line-through;
}
.product-card-container-content-color-text{
  font-weight: 700;
  font-size: 18px;
  text-align: center;
}
.product-card-container-content-color{
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.product-card-container-content-color-container{
  display: flex;
  justify-content: center;
  gap: 20px;
}
.product-card-container-content-color-container-color{
  width: 20px;
  height: 20px;
  border-radius: 100%;
}
.product-card-container-content-button{
  width: 70%;
  height: 40px;
  border: 0;
  background-color: yellow;
  border-radius: 10px;
  font-weight: 700;
  font-size: 18px;
}
.product-card-container-content-button:hover{
  cursor: pointer;
  color: white;
  background-color: yellowgreen;
}
.student-card{
  width: 100%;
  max-width: 600px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  font-family: Roboto;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.student-card:hover{
  transform: translateY(-15px);
}
.student-card-head{
  width: 100%;
  border-radius: 20px 20px 0 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding:  20px;
}
.student-card-head-logo{
  width: 100px;
}
.student-card-head-content{
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}
.student-card-head-content-top{
  font-weight: 900;
  font-size: 20px;
  color: blue;
}
.student-card-head-content-name{
  font-weight: 900;
  font-size: 20px;
  color: red;
}
.student-card-head-content-bottom{
  font-weight: 400;
  font-size: 14px;
  color: blue;
}
.student-card-head-content-bar{
  width: 50%;
  border: 1px dashed black;
}
.student-card-container{
  padding: 20px;
  display: flex;
  justify-content: space-between;
  gap: 20px;
}
.student-card-container-account{
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}
.student-card-container-account-img{
  width: 150px;
  height: 200px;
  border-radius: 10px;
  background: url(DSC_2461.jpg);
  background-size: cover;
  background-position: center;
}
.student-card-container-account-id{
  font-weight: 700;
  font-size: 18px;
  color: black;
}
.student-card-container-content{
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.student-card-container-content-tittle{
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.student-card-container-content-tittle-text{
  font-weight: 900;
  font-size: 20px;
  color: blue;
  text-align: center;
}
.student-card-container-content-tittle-name{
  font-weight: 700;
  font-size: 20px;
  color: black;
  text-align: center;
}
.student-card-container-content-box{
  display: flex;
  justify-content: space-between;
}
.student-card-container-content-box-1{
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.student-card-container-content-box-1-text{
  font-weight: 700;
  font-size: 18px;
  color: black;
  letter-spacing: 1.5px;
}
.student-card-container-content-box-1-text span{
  font-weight: 500;
}
.student-card-container-content-box-QR{
  width: 80px;
  height: 80px;
  background:url(QR.png);
  background-size: cover;
  background-position: center;
}